/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
modified for the infamous Eric Meyer's reset code
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body
{
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,video,audio { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:normal;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* html5doctor.com Reset Stylesheet */

body
{
    font: normal normal normal 14px/20px 'Lucida Grande' , 'Lucida Sans Unicode' , Arial, Verdana, sans-serif;
}

a
{   text-decoration: none;}

p
{
    margin-bottom: 15px;
    margin-top: 15px;
}

header
{
    border: 0px dotted #FF0000;
    width: 1024px;
    margin: 5px auto 10px auto;
    padding: auto auto auto auto;
    height: 110px;
    background-color:#FFFFFF;
}

header h1
{
    margin: 10px auto 10px 5px;
    padding: 25px 20px 20px 20px;
    width: 160px;
    height: 60px;
    border: 0 solid #336600;
    background-color: #FFFFFF;
    background-image: url('images/logo_200x101.png');
    background-repeat: no-repeat;
}

#logo h1, #logo small
{
    margin: 0px;
    display: block;
    text-indent: -9998px;
    float:left;
}

header h1 a,header h1 a:visited,header h1 a:hover
{
    color:inherit;
}

footer
{
    border: 0 solid #0000FF;
    width:auto;
    margin: auto auto 10px auto;
    font-size:12px;
    text-align:center;
    position:relative;
}

footer a
{
    border-width: 1px;
    color: #0066FF;
    border-bottom-style: solid;
}

footer a:visited
{
    color: #0066FF;
}

footer a:hover
{
    border-width: 1px;
    color: #FF0066;
    border-bottom-style: dotted;
}


nav a, nav a:visited
{
    color: black;
}

#navi_left
{
    width: 220px;
    position: relative;
    float: left;
    z-index: 20;
    margin-left: 10px;
    font-family: Amaranth-Regular,Comic Sans, Comic Sans MS, cursive;
    font-size: 15px;
    padding-bottom: 50px;
}

#navi_left a:hover
{
}

#navi_left li:hover
{
    background-color: #E9E9E9;
}

#navi_left li
{
    /*white color border is neccessary */
    border-style: none none dotted none;
    border-width: 1px;
    border-color: #999966;
    padding: 0px;
    list-style-type: none;
}

#navi_left li.selected
{
    background-color: #003300;
    border: 1px solid #003300;
    color: #FFFFFF;
}

/*article start */
article
{
    border:solid 0px #000000;
    text-align: justify;
    line-height: 22px;
    padding: 0 80px 0 250px;
    position:relative;
    background-color: #FFFFFF;
    width:auto;
}

article header
{
    border: none;
    width: auto;
    margin: 0;
    padding: 0;
    height: auto;
    background-color:#FFFFFF;
}

article header h1
{
    border:none;
    font-size: 38px;
    color: #000000;
    font-weight: normal;
    font-family: YanoneKaffeesatz-Regular,Comic Sans, Comic Sans MS, cursive;
    font-style: normal;
    line-height: 40px;
    background-color: #FFFFFF;
    background-image: none;
    margin: 0 auto 20px auto;
    padding: 0;
    text-align: left;
    width: auto;
    height: auto;    
}

article h2
{
    border-width: 0px 0px 0px 6px;
    border-style: solid;
    font-family: YanoneKaffeesatz-Regular, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #333333;
    padding: 2px 5px 2px 10px;
    margin: 15px 0 20px 0;
    letter-spacing: 0px;
    border-left-color: #99CC00;
}

article .clipart
{
    border: 1px double #C0C0C0;
    padding: 3px 3px 3px 3px;
    margin: 5px 10px 5px 10px;
}

article code
{
    margin: 20px 5px 20px 5px;
    padding: 5px;
    border: 2px solid #006600;
    font-family: 'Courier New' , Courier, monospace;
    font-size: 14px;
    background-color: #FFFFFF;
    display: block;
    text-align: left;
    line-height: 20px;
    cursor: text;
    overflow: scroll;
}

article a
{
    border-width: 1px;
    color: #0066FF;
    border-bottom-style: solid;
}

article a:visited
{
    color: #0066FF;
}

article a:hover
{
    border-width: 1px;
    color: #FF0066;
    border-bottom-style: dotted;
}

article table.browser, 
table.browser thead, 
table.browser tbody, 
table.browser th, 
table.browser td, 
table.browser tr,
article table.attribute, 
table.attribute thead, 
table.attribute tbody, 
table.attribute th, 
table.attribute td, 
table.attribute tr
{
    margin: 5px auto 5px auto;
    padding: 10px;
    border: 2px solid #000000;
    table-layout: auto;
    border-collapse: collapse;
    vertical-align: middle;
}

/*
article table, thead, tbody, th, td, tr
{
    margin: 5px auto 5px auto;
    padding: 10px;
    border: 2px solid #000000;
    table-layout: auto;
    border-collapse: collapse;
    vertical-align: middle;
}
*/

article th
{
    background-color: #CCFF33;
    font-weight: bold;
}

article table.attribute
{
    font-size:13px;
}

article table.attribute th
{
    background-color: #669900;
    color: #FFFFFF;
}

article table.attribute th#att_name
{
    width:80px;
}

article table.attribute th#att_value
{
    width:120px;
}

article blockquote
{
    font-style: italic;
    text-indent: 30px;
    padding: 10px;
    font-size: 14px;
}

article video, audio, .demobox
{
    padding:10px;
    border:dotted 2px #000000;
    margin:0px auto;
}

article aside
{
    padding: 10px;
    margin: 20px 5px 20px 5px;
    border: 3px dashed #808080;
    background-color: #FFFF66;
}

article .canvas_button
{
    background-color: #800000;
    color: #FFFFFF;
    margin: 5px;
}

article .canvas_demo
{
    padding: 20px;
    border: 1px dotted #C0C0C0;
    margin: 20px 5px 20px 5px;
    width:auto;
}

article ul
{
    list-style-type: circle;
    list-style-position: inside;
}


article ul ul
{
    list-style-type: square;
    list-style-position: inside;
    margin-left: 20px;
}

article code mark
{
    background-color: #FFFF00;
}

article figcaption
{
    border-style: none none solid none;
    border-width: 1px;
    display: inline;
    font-size: 14px;
    text-align: center;
}

article figure
{
    margin: 30px;
    border-style: solid;
    border-width: 0px;
}

article section
{
    border: 2px dashed #669900;
    margin: 20px 5px 20px 5px;
    padding: 20px;
}

article section h1
{
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 20px;
    font-weight: normal;
    border: 0px solid #000000;
    color:#000000;
    margin:5px;
}

article em
{
    font-weight: bold;
    color: #FF0000;
    font-style: normal;
    letter-spacing: 1px;
}

article ol
{
    list-style-position: inside;
    margin-left: 20px;
}
/*article end */

#main
{
    border: 0 dotted #000000;
    padding: auto;
    margin: auto auto auto auto;
    width: auto;
    position: relative;
    overflow: auto;
    width:1024px;
}


#sponsor
{
    border: 0px dashed #000000;
    position: relative;
    width: 0;
    height: 500px;
    padding: 0px 0px 0px 0px;
    margin: auto;
    float: right;
    background-color: #FFFFFF;
    z-index: 21;
}

/*Arrow Page navigator - start*/
#navi_arrow
{
    width: 800px;
    height: 20px;
    margin: auto auto 50px auto;
    text-align: center;
    border: 0px dotted #000000;
    padding: 10px 0px 10px 0px;
    font-family: YanoneKaffeesatz-Regular,  'Comic Sans' , 'Comic Sans MS' , cursive;
    font-size:20px;
}

#prev_arrow, #next_arrow
{
    padding-right: 80px;
    padding-left: 80px;
}

#navi_arrow a
{
    border-width: 3px;
    border-bottom-style: none;
    padding-bottom: 5px;
    border-color: #0066FF;
    color:#0066FF;
}

#navi_arrow a:hover
{
    border-color:#FF0066;
    color: #FF0066;
    border-bottom-style:solid;
}


/*Arrow Page navigator -end */

@font-face
{
    font-family:YanoneKaffeesatz-Regular;
    src:url(fonts/YanoneKaffeesatz-Regular.eot);
    src:local("fonts/YanoneKaffeesatz-Regular"),url(fonts/YanoneKaffeesatz-Regular.ttf) format("truetype");
}

@font-face
{   
     font-family:Amaranth-Regular;
     src:url(fonts/Amaranth-Regular.eot);
     src:local("fonts/Amaranth-Regular"),url(fonts/Amaranth-Regular.ttf) format("truetype");
}